option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: anonymous.wsgi:application
        NumProcesses: 2
        NumThreads: 15

packages:
    dnf:
        postgresql-devel: []

container_commands:
    00_wsgipass:
        command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'